body {
  background-color: teal;
  margin: 5px;
}
.fancy.title{
  color: tan;
  font-family: cursive;
  text-align: center;
}
.fancy.cursive{
  color: beige;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.Footer {
  color: tan;
  font-family: cursive;
  text-align: right;
}
button{
  background-color: beige;
  font-family: Arial, Helvetica, sans-serif;
  color: teal;
  margin-left: 5px;
}
button:hover{
  background-color: tan;
  color: teal;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
}
.header{
  font-family: sans-serif;
  font-size: larger;
  border: black;
  padding: 5px;
  color: burlywood;
}
label{
  color: burlywood;
  font-size: large;
  font-family: sans-serif;
  border: black;
}